= render "layouts/header"

.container
  .about-contents
    .inner
      %section.about
        %h2.about-title About
        %p
          web制作・web開発エンジニアとしてフリーランス活動しているおります！
          %br
          2020年にテックキャンプに通いHTML・CSS・Rubyなどの言語を学びました。
          %br
          テックキャンプではブログアプリや、チャットアプリ作成しました。卒業課題ではチームで開発を行い
          %br
          メルカリのようなECサイトを作成しました。テックキャンプで様々なアプリ開発を通してお客様のニーズに答えられるスキルを身に付けました！
          %br
          %br
  %section.about-main
    %p
      名称： 加藤 和也
      %br
      所在地： 愛知県
      %br
      お問い合わせ： sharehappy032523@gmail.com
      %br
      skill: HTML・CSS・Haml・SCSS・Ruby・Ruby on Rails・JavaScript・jQuery・SQL・Git・GitHub・AWS
      %br
        事業内容： web制作・webシステム開発・seo対策等
    %p.plofile
